/* base rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* vertical-align: baseline; */
}

body,
html {
  min-height: 100vh !important;

  width: 100%;
  font-size: 23px;
  -webkit-tap-highlight-color: transparent !important;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
/* end base rules */

/* layout rules start */
/* layout rules start for home page */

body {
  display: grid;
  grid:
    "header" 7vh
    "main" 1fr
    "footer" auto
    / 100%;
  background: linear-gradient(#f4acff, #b1b5ff);
}

@media (orientation: landscape) and (max-width: 933px) {
  body {
    grid:
      "header" 14vh
      "main" 1fr
      "footer" max-content
      / 100%;
  }
}

@media (min-width: 940px) {
  body {
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" max-content
      / 100%;
  }
}

/* layout rules end for home page  */
/* layout rules end  */

/* start of style for global components */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 5.8vw;
  padding-left: 5.8vw;
  align-items: center;
  position: fixed;
  /* bottom: 8px; */
  z-index: 10;
  width: 100%;
  background-color: #f4acff;
}

@media (min-width: 940px) {
  .header {
    padding-top: 20px;
    padding-right: 7.65vw;
    padding-left: 7.65vw;
    /* align-items: unset; */
    overflow-x: scroll;
    align-items: center;
  }
  .header::-webkit-scrollbar {
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .header {
    height: 14vh;
  }
}
.menu-is-opened {
  background-color: white;
}
.burger div {
  width: 32.95px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

@media (min-width: 940px) {
  .burger {
    display: none;
  }
}
.line1 {
  margin-bottom: 9.71px;
}

.toggle .line2 {
  /* margin-bottom: 9.71px; */
  rotate: 45deg;
  translate: 9.76px -5.43px;
}

.toggle .line1 {
  rotate: 135deg;
  translate: 9.76px 5.73px;
}
.logo {
  font-size: 0.95rem;
  color: #000;
  text-decoration: none;
  font-family: source-sans-3, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 940px) {
  .logo {
    font-size: 1.65rem;
    align-self: end;
  }
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-links {
  /* flex-direction: column; */
  /* justify-content: space-between; */
  display: none;
  position: absolute;
  top: 6.2vh;
  left: 0;
  right: 0;
  height: 93.8vh;
  /* bottom: -10; */
  background-color: rgb(255, 255, 255);
  z-index: 1;
  /* padding-bottom: 191px; */
  /* padding-top: 20px; */
  /* align-items: center; */
  transition: all 0.7s ease-in-out;
  /* overflow-y: scroll; */

  overscroll-behavior: contain;
}

@media (orientation: landscape) and (max-width: 933px) {
  .nav-links {
    height: 86vh;
    top: 14vh;
    /* padding-bottom: 62px; */
    /* overflow-y: scroll; */
  }
}

@media (min-width: 940px) {
  .nav-links {
    /* flex-direction: row; */
    justify-content: space-between;
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    height: unset;
    z-index: 1;
    font-style: normal;
    padding-bottom: unset;
    padding-top: unset;
    align-items: unset;
    transition: unset;
    /* overflow-x2: auto; */
    width: 215px;

    background-color: unset;
  }

  /* .nav-links::-webkit-scrollbar {
    width: 0 !important;
  } */
}
.navlinks-is-active {
  display: block;
}

.nav-links a {
  font-size: 1.91rem;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

@media (min-width: 940px) {
  .nav-links a {
    font-size: 1.08rem;
    font-weight: 200;
  }
}
.bhidden {
  overflow: hidden;
  /* display: none; */
}

.about {
  position: absolute;
  top: 35.3vh;
  right: 5.8vw;
  /* transform: translateY(40);
  transition: transform 6s ease-in-out; */
}

@media (orientation: landscape) and (max-width: 933px) {
  .about {
    top: 23vh;
  }
}
@media (min-width: 940px) {
  .about {
    position: unset;
    top: unset;
    right: unset;
    transform: unset;
    transition: unset;
  }
}

.resume {
  position: absolute;
  top: 46.6vh;
  right: 5.8vw;
  /* transform: translateY(40);
  transition: transform 6s ease-in-out; */
}

@media (orientation: landscape) and (max-width: 933px) {
  .resume {
    top: 46vh;
  }
}

@media (min-width: 940px) {
  .resume {
    position: unset;
    top: unset;
    right: unset;
    transform: unset;
    transition: unset;
  }
}

@keyframes navLinksAnim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes navFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*end of style for global components */

/* start of style for home page */
.main {
  grid-area: main;
  font-family: poppins, sans-serif;
  padding-right: 5.8vw;
  padding-left: 5.8vw;
}

@media (min-width: 940px) {
  .main {
    padding-right: 7.65vw;
    padding-left: 7.65vw;
  }
}

.main__header {
  font-size: 1.91rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 39px;
  margin-top: 87px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .main__header {
    margin-top: 60px;
  }
}

@media (min-width: 940px) {
  .main__header {
    font-size: 3.6rem;
    margin-bottom: 25px;
    margin-top: 165px;
  }
}

.main__intro {
  font-size: 1.13rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 70px;
  line-height: 34px;
}

@media (min-width: 940px) {
  .main__intro {
    font-size: 1.43rem;
    margin-bottom: 8.14vh;
    line-height: 50px;
  }
}

.main__bold {
  font-weight: 600;
}

.main__contacts {
  font-size: 1rem;
  margin-bottom: 87px;
  line-height: 41px;
  font-weight: 200;
}

@media (min-width: 940px) {
  .main__contacts {
    font-size: 1.21rem;
    margin-bottom: 15.6vh;
    line-height: 52px;
  }
}
.main__links {
  font-weight: 600;
  color: black;
}

.footer {
  font-size: 0.6rem;
  font-weight: 200;
  grid-area: footer;
  font-family: poppins, sans-serif;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #000;
}

@media (min-width: 940px) {
  .footer {
    font-size: 0.78rem;
    padding-top: 2.68vh;
    padding-bottom: 2.68vh;
    display: flex;
    justify-content: space-between;
    padding-right: 7.65vw;
    padding-left: 7.65vw;
    align-items: center;
  }
}

.footer__legals {
  margin-bottom: 8px;
  text-align: center;
}

.footer__designer {
  font-weight: 600;
  color: white;
  text-align: center;
}

.footer__gilles {
  text-align: center;
}

.footer__icons {
  margin-top: 20px;
  /* margin-bottom: 32px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.3vw;
}

@media (min-width: 940px) {
  .footer__icons {
    margin-top: unset;
    gap: 2.39vw;
    /* margin-bottom: 0; */
  }
}

.footer__linkedin {
  width: 21.74px;
}

@media (min-width: 940px) {
  .footer__linkedin {
    width: 30px;
  }
}
.footer__github {
  width: 21.74px;
}

@media (min-width: 940px) {
  .footer__github {
    width: 30px;
  }
}

.footer__in {
  justify-self: end;
}

.footer__gh {
  justify-self: start;
}

/* end of style for home page */

/* start of style for about page */

.portrait {
  width: 100%;
  height: 417px;
}

@media (orientation: landscape) and (max-width: 933px) {
  .portrait {
    width: 33.9vw;
    height: 45.3vh;
    float: left;
    margin-right: 3vw;
    margin-bottom: 30px;
  }
}

@media (min-width: 940px) {
  .portrait {
    width: 28.2vw;
    height: 61.9vh;
    float: left;
    margin-right: 4.3vw;
  }
}

.portrait__img {
  width: 100%;
  height: 417px;
  object-fit: cover;
  border-radius: 31px;
}

@media (min-width: 940px) {
  .portrait__img {
    width: 100%;
    height: 100%;
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .portrait__img {
    width: 100%;
    height: 100%;
  }
}

.main-about {
  margin-top: 56px;
}
@media (min-width: 940px) {
  .main-about {
    margin-top: 17.59vh;
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .main-about {
    margin-top: 32px;
  }
}
.main__header-about,
lottie-player {
  display: inline-block;
}

@media (min-width: 940px) {
  .main__header-about {
    font-size: 3.86rem;
    margin-right: 2.17vw;
    /* margin-bottom: 25px; */
  }
}

.main__header-about,
lottie-player {
  vertical-align: middle;
}

lottie-player {
  rotate: -30deg;
  position: relative;
  top: -5px;
  height: 56px;
  width: 56px;
}

@media (min-width: 940px) {
  lottie-player {
    height: 100px;
    width: 100px;
    top: -8px;
  }
}
.main__hello {
  margin-top: 39px;
  margin-bottom: 35px;
}

@media (min-width: 940px) {
  .main__hello {
    margin-top: unset;
    margin-bottom: 2.2vh;
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .main__hello {
    margin-top: 0px;
    position: relative;
    top: -13px;
    /* display: inline-block; */
    margin-bottom: 22px;
  }
}

@media (min-width: 940px) {
  .main__hello {
    position: relative;
    top: -30px;
  }
}
.bio {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 87px;
}

@media (min-width: 940px) {
  .bio {
    font-size: 1.21rem;
    font-weight: 200;
  }
}

@media (orientation: landscape) and (max-width: 933px) {
  .bio {
    position: relative;
    top: -30px;
  }
}

@media (min-width: 940px) {
  .bio {
    position: relative;
    top: -40px;
  }
}

.first-para {
  margin-bottom: 42px;
}

@media (orientation: landscape) and (max-width: 933px) {
  .first-para {
    margin-bottom: 30px;
    /* width: 57.1vw; */
  }
}

@media (min-width: 940px) {
  .first-para {
    margin-bottom: 3.6vh;
  }
}
/* end of style for about page */

/* start of style for resume page */
#resume-btn {
  display: flex;
  margin-top: 44px;
  margin-bottom: 41px;
  font-family: poppins, sans-serif;
  font-size: 0.73rem;
  margin-left: auto;
  margin-right: auto;
  width: 41.5vw;
  height: 40px;
  color: white;
  background-color: #000;
  padding: 0.34rem;
  border-radius: 24px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) and (max-width: 933px) {
  #resume-btn {
    margin-top: 30px;
    width: 21.9vw;
    height: 40px;
    padding: auto;
  }
}

@media (min-width: 940px) {
  #resume-btn {
    /* display: flex; */
    margin-top: 17.3vh;
    width: 279px;
    height: 6.6vh;
    font-size: 1.21rem;
    padding: 12px;
    margin-bottom: 13.9vh;
  }
}

.main__resume {
  font-family: poppins, sans-serif;
}

.main__section-header {
  font-size: 1.65rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 41px;
}

@media (min-width: 940px) {
  .main__section-header {
    font-size: 2.65rem;
    margin-bottom: 61px;
  }
}

.main__section-sub span {
  text-decoration: underline;
  font-weight: 500;
  font-style: normal;
}

.main__section-sub {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 8px;
  font-weight: 500;
  word-wrap: break-word;
}

@media (min-width: 940px) {
  .main__section-sub {
    font-size: 1.65rem;
    margin-bottom: 11px;
  }
}
.main__date {
  margin-bottom: 4px;
  font-variant: small-caps;
  font-size: 0.73rem;
  font-weight: 600;
}

@media (min-width: 940px) {
  .main__date {
    font-size: 1.21rem;
    margin-bottom: 11px;
  }
}
.main__section-details {
  font-size: 0.73rem;
  line-height: 26px;
  font-weight: 200;
}

@media (min-width: 940px) {
  .main__section-details {
    font-size: 1.21rem;
    line-height: 50px;
  }
}

.main__jobs:nth-child(2) {
  margin-bottom: 29px;
}

@media (min-width: 940px) {
  .main__jobs:nth-child(2) {
    margin-bottom: 31px;
  }
}

.main__jobs:last-child {
  margin-bottom: 41px;
}

@media (min-width: 940px) {
  .main__jobs:last-child {
    margin-bottom: 61px;
  }

  .main__jobs:last-child {
    margin-bottom: 61px;
  }
}

.main__project-list:nth-child(2) {
  margin-bottom: 29px;
}

.main__project-list:last-child {
  margin-bottom: 41px;
}

.details-big-margin {
  margin-bottom: 41px;
}

.main__aside {
  margin-bottom: 87px;
}

@media (min-width: 940px) {
  .main__aside {
    margin-bottom: 169px;
  }
}
